*{box-sizing: border-box;
    margin: 0;
    padding: 0;
   

}

.container{
    margin: 90px auto;
    width: 500px;
    height: 800px;
    border: 1px solid black;
    border-radius: 20px;
    
}

.form-item{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-item h2{
    text-align: center;
    font-size: 34px;
    margin:15px;
}

.form-item input{
    margin: 30px;
    width: 300px;
    height:30px;
    border: 2;
    border-radius: 20px;

}
input::placeholder{
    padding: 10px;
    color:#8d8d8d;
}

.form-item button{
 background-color: black;
 border: none;
 width: 60px;
 height:30px;
 color:white;
 border-radius:10px;
 
}

.form-item ol li{
    
    font-size: 23px;
    padding: 5px;
    
}